<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHome.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/money.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css' ) }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>App Fut</title>
</head>

<body>
    <div id="tudo">
        <div id="items-wrapper">
            <div id="items" @scroll="scroll()">

                <div id="tabIndex" class="item">
                    <div id="head">
                        <div id="div-bars">
                            <i class="fa-solid fa-bars" onclick="alert('kkkkkkk na proxima att quem sabe funcione (ou seja removido)')"></i>
                        </div>
                        <p v-if="data.dadosUser.codigo == 'm050f290m090?35'" onclick="window.location.href = '/users'">Olá, [[data.dadosUser.nome]]!</p>
                        <p v-else>Olá, [[data.dadosUser.nome]]!</p>
                    </div>
                    <div id="p-event">
                        <p id="text-event">Eventos</p>
                        <p id="num-event">[[data.dadosEventos.length]]</p>
                    </div>
                    <div id="eventos">
                        <div class="container" v-for="(evento, key) in data.dadosEventos">
                            <h1>[[evento.nome]]</h1>
                            <div class="data">
                                <p class="dia">[[ evento.data.split('/')[0] ]]</p>
                                <p class="mes">[[ meses[ evento.data.split('/')[1] ] ]]</p>
                            </div>
                            <form class="admActions" action="/list" method="post" :id="evento.id">
                                <input type="hidden" name="dados" :value="JSON.stringify(evento)">
                                <p v-if="data.dadosUser.codigo == 'm050f290m090?35'">
                                    <i class="fa-regular fa-square-check" @click="concluir(evento.id)"></i>
                                </p>
                                <p v-if="data.dadosUser.codigo == 'm050f290m090?35'">
                                    <i class="fa-solid fa-pen-to-square" @click="concluir(evento.id, true)"></i>
                                </p>
                            </form>
                            <ul class="dados">
                                <li class="local">
                                    <span class="fa-solid fa-location-dot icon-local icon-dados"></span>
                                    <span> [[evento.local]]</span>
                                </li>
                                <li class="hora">
                                    <span class="fa-regular fa-clock icon-hora icon-dados"></span>
                                    <span>[[evento.hora]]</span>
                                </li>
                            </ul>
                            <div class="qtd">
                                <p class="num">[[evento.confirmados.length]] confirmados</p>
                                <p class="pessoas" v-if="evento.confirmados.length == 0">Não há confirmados</p>
                                <p class="pessoas" v-else>[[evento.confirmados.join(', ')]]</p>
                            </div>
                            <div class="button-confirma" @click="submit(evento.id, key)">
                                <p v-if="evento.confirmados.includes(data.dadosUser.nome)">PRESENÇA CONFIRMADA!</p>
                                <p v-else>CONFIRMAR PRESENÇA</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="history" class="item">
                    <p id="title" @click="newJogo()">Histórico de Jogos</p>
                    <div class="jogo" v-for="(jogo, index) in data.jogos" :class="{ 'closed' : (indexJogoAberto != index )}" @click="abreOutroJogo(index)">
                        <p class="data-jogo">[[jogo.data]]</p>
                        <div class="result">
                            <p class="p-timea">Time A</p>
                            <p class="placar">[[jogo.gols_time_a]] x [[jogo.gols_time_b]]</p>
                            <p class="p-timeb">Time B</p>
                        </div>    
                        <div class="times">
                            <div class="time1">
                                <ul>
                                    <li v-for="jogador in jogo.time_a">[[jogador]]</li>
                                </ul>
                            </div>
                            <div class="time2">
                                <ul>
                                    <li v-for="jogador in jogo.time_b">[[jogador]]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dashboard" class="item">
                    <p id="title">Suas estatísticas</p>
                    <div id="dados">
                        <div class="dash-item linha1">
                            <ul class="info">
                                <li class="label">Jogos</li>
                                <li class="value">[[ parseInt(data.dadosUser.jogos)]]</li>
                            </ul>
                            <ul class="info">
                                <li class="label">Vitórias</li>
                                <li class="value" style="color: #3ECDA6">[[parseInt(data.dadosUser.vitorias)]]</li>
                            </ul>
                            <ul class="info">
                                <li class="label">Empates</li>
                                <li class="value" style="color: #FFBD59">[[parseInt(data.dadosUser.empates)]]</li>
                            </ul>
                            <ul class="info">
                                <li class="label">Derrotas</li>
                                <li class="value" style="color: #FF3131">[[parseInt(data.dadosUser.derrotas)]]</li>
                            </ul>
                        </div>
                        <div class="dash-item e2-1 addDado" data-tipo="gol">
                            <ul class="info">
                                <li class="label" style="padding: 0 2vw 0 2vw;">Gols</li>
                                <li class="value">[[parseInt(data.dadosUser.gols)]]</li>
                            </ul>
                        </div>
                        <div class="dash-item e2-2 addDado" data-tipo="assist">
                            <ul class="info">
                                <li class="label">Assists</li>
                                <li class="value">[[parseInt(data.dadosUser.assistencias)]]</li>
                            </ul>
                        </div>
                        <div class="dash-item e2-3">
                            <ul class="info">
                                <li class="label">% de Vitórias</li>
                                <li class="value">[[parseInt(data.dadosUser.jogos != 0 ? data.dadosUser.taxa_vitoria : 0)]]%</li>
                            </ul>
                        </div>
                        <div class="dash-item e3-1">
                            <ul class="info">
                                <li class="label label3-1">Médias por Jogo</li>
                                <li class="value valuediferente">
                                    <ul>
                                        <li>
                                            <ul class="info lado">
                                                <li class="value">[[ (data.dadosUser.jogos != 0 ? parseInt(data.dadosUser.gols)/parseInt(data.dadosUser.jogos) : 0).toFixed(2) ]]</li>
                                                <li class="label labeldiferente">Gols</li>
                                            </ul> 
                                        </li>
                                        <li>
                                            <ul class="info lado">
                                                <li class="value">[[ (data.dadosUser.jogos != 0 ? parseInt(data.dadosUser.assistencias)/parseInt(data.dadosUser.jogos) : 0).toFixed(2) ]]</li>
                                                <li class="label labeldiferente">Assistências</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="dash-item e3-2">
                            <ul class="info">
                                <li class="label">Últimos Resultados</li>
                                <li class="value valuediferente valuediferente2">
                                    <div class="resultado" :class="{vitoria: data.dadosUser.resultado[0] == 'V', derrota: data.dadosUser.resultado[0] == 'D', empate: data.dadosUser.resultado[0] == 'E'}"></div>
                                    <div class="resultado" :class="{vitoria: data.dadosUser.resultado[1] == 'V', derrota: data.dadosUser.resultado[1] == 'D', empate: data.dadosUser.resultado[1] == 'E'}"></div>
                                    <div class="resultado" :class="{vitoria: data.dadosUser.resultado[2] == 'V', derrota: data.dadosUser.resultado[2] == 'D', empate: data.dadosUser.resultado[2] == 'E'}"></div>
                                    <div class="resultado" :class="{vitoria: data.dadosUser.resultado[3] == 'V', derrota: data.dadosUser.resultado[3] == 'D', empate: data.dadosUser.resultado[3] == 'E'}"></div>
                                    <div class="resultado" :class="{vitoria: data.dadosUser.resultado[4] == 'V', derrota: data.dadosUser.resultado[4] == 'D', empate: data.dadosUser.resultado[4] == 'E'}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="tabMoney" class="item">
                    <div id="dividas">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <p class="valor">[[parseFloat(String(data.dadosUser.total).replace(',', '.')).toFixed(2).replace('.',',')]]</p>
                        <p class="legenda">Dívidas</p>
                    </div>
                    <table v-if="data.dadosUser.dividas.length > 0">
                        <tbody>
                            <tr v-for="divida in data.dadosUser.dividas">
                                <td class="data">[[divida.data]]</td>
                                <td class="valor">R$ [[parseFloat(divida.valor.replace(',','.')).toFixed(2).replace('.', ',')]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-pagamento" @click="criaCobranca()" v-if="data.dadosUser.total > 0">
                        <p>[[textButton]]</p>
                    </div>
                    <input type="text" id="codigoPix" style="opacity: 0;">
                </div>

            </div>
        </div>
        <div id="menu">
            <i class="fa-solid fa-house" :class="{selected: this.page == 1}" @click="calculaPagina(1)"></i>
            <i class="fa-solid fa-clock" :class="{selected: this.page == 2}" @click="calculaPagina(2)"></i>
            <div class="addFut" onclick="window.location.href = '/new'" v-if="data.dadosUser.codigo == 'm050f290m090?35'">+</div>
            <i class="fa-solid fa-square-poll-vertical" :class="{selected: this.page == 3}" @click="calculaPagina(3)"></i>
            <i class="fa-solid fa-wallet" :class="{selected: this.page == 4}" @click="calculaPagina(4)"></i>
        </div>

    </div>
    <script src="{{ url_for('static', filename='/js/pix.js' ) }}"></script>
    <script>
        let dados = {{backend|tojson}};
    </script>
    <script src="{{ url_for('static', filename='/js/index.js' ) }}"></script>
</body>

</html>