<?php

session_start();

?>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <title>list</title>
</head>
<body>
    <div id="tudo">
        <h1 onclick="window.location.href = '/index'">LISTA</h1>
        <table id="table">
            <tbody>
                <tr v-for="(pessoa, index) in dados.confirmados">
                    <td class="nome">[[pessoa]]</td>
                    <td class="chx"><input type="checkbox" :value="pessoa" v-model="pessoas"></td>
                </tr>
            </tbody>
        </table>
        <form action="/saveDividas" method="POST">
            <input type="hidden" name="confirmados" :value="JSON.stringify(pessoas)">
            <input type="hidden" name="id" :value="dados.id">
            <input type="hidden" name="data" :value="dados.data">
            <input type="hidden" name="valor" :value="dados.valor">
            <button type="submit">CONFIRMAR</button>
        </form>
    </div>
    <script>
        let dados = {{data|tojson}};
        const App = new Vue({
            el: '#tudo',
            delimiters: ['[[', ']]'],
            data: {
                dados: dados,
                pessoas: dados.confirmados
            }
        })
    </script>
</body>
</html>