<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/new.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <title>new</title>
</head>
<body>
    <div class="form">
        <i class="fa-solid fa-futbol" onclick="window.location.href = '/'"></i>
        <h1>NOVO EVENTO</h1>
       <form action="/event/save" method="POST">
            <input name="id"    type="hidden" v-model="id">
            <input name="nome"  type="text" placeholder="Nome"  v-model="nome">
            <input name="lugar" type="text" placeholder="Lugar" v-model="local">
            <input name="data"  type="text" placeholder="Data"  v-model="data">
            <input name="hora"  type="text" placeholder="Hora"  v-model="hora">
            <input name="valor" type="text" placeholder="Valor" v-model="valor">
            <input type="submit" value="CONFIRMAR">
        </form> 
    </div>
</body>
</html>