#dashboard {
    padding: 5vh 1.5vw 0 1.5vw;
    width: 97vw;
    height: 75vh;
    color: white;
}
#title {
    margin-left: 3vw;
    margin-top: 22vw;
    font-size: 6vw;
    color: var(--color);
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.dash-item {
    display: flex;
    background-color: var(--divs-color);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}
.lado {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom: 1vh;
}
.linha1 {
    padding: 0 4% 0 4%;
    grid-area: linha1;
    gap: 7vw;
}
.info .label:not(.labeldiferente) {
    margin-top: 2vh;
    font-size: 1.8vh;
    margin-bottom: 1vh;
    font-weight: 600;
}
.lado .label{
    font-weight: 500
} 
.info .value:not(.valuediferente) {
    font-size: 3.9vh;
    font-weight: 1000;
    color: var(--color);
}
.valuediferente {
    margin-top: 2.6vh;
    padding: 0 1vw 0 1vw;
}
.valuediferente2{
    display: flex;
    margin-top: 2.3vh;
    padding: 0 3vw 0 3vw;
    justify-content: space-between;
}
.e2-1 {
    grid-area: e2-1;
    padding: 0 2.5vw 0 2.5vw;
}
.e2-2 {
    grid-area: e2-2;
    padding: 0 2.5vw 0 2.5vw;   
}
.e2-3 {
    grid-area: e2-3;
}
.e3-1 {
    height: 19vh;
    grid-area: e3-1; 
}
.e3-2 {
    grid-area: e3-2;
}
.linha4 {
    grid-area: linha4;
    background-color: var(--color);
}
.resultado {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: grey;
}
.vitoria {
    background-color: #3ECDA6;
}
.derrota {
    background-color: #FF3131;
}
.empate {
    background-color: #FFBD59;
}
.lado .value {
    font-size: 3vh !important;
}
#dados {
    margin-top: 8vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
		"linha1 linha1 linha1 linha1"
		"e2-1 e2-2 e2-3 e2-3"
		"e3-1 e3-1 e3-2 e3-2"
        "e3-1 e3-1 linha4 linha4"
	;
    grid-column-gap: 4vw;
    grid-row-gap: 2.5vh;
    height: 65%;
    width: 100%;
}
